[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplot = "*"
seaborn = "*"
numpy = "*"
scikit-learn = "*"
ipykernel = "*"
haversine = "*"
folium = "*"

[dev-packages]

[requires]
python_version = "3.12"
