[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
ipykernel = "*"
seaborn = "*"
openpyxl = "*"
scipy = "*"
jinja2 = "*"
scikit-learn = "1.5.2"
imblearn = "*"

[dev-packages]

[requires]
python_version = "3.12"
